.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfContent__JPEIQ {
  background: #f9f9f9;
  padding: 30px;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfTopContent__ga2vy {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: unset;
  -webkit-justify-content: unset;
  flex-direction: row;
  padding: 30px 0;
  margin-top: 60px;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfTopContent__ga2vy {
    flex-direction: column;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfTopContent__ga2vy > img {
  flex: 1 0 auto;
  text-align: center;
  position: relative;
  top: 40px;
  max-width: 500px;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfTopContent__ga2vy > img {
    max-width: 200px;
    top: 0;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfDetails__mQFFZ {
  flex: 1 0 auto;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfDetails__mQFFZ {
    text-align: center;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfDetails__mQFFZ > img {
  margin: 0 0 10px;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfDetails__mQFFZ > img {
    width: 250px;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfDetails__mQFFZ > h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  font-weight: 700;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_pnfDetails__mQFFZ > p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #c4c4c4;
  letter-spacing: 4px;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_goBackHome__Ytnwi {
  cursor: pointer;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fc9916;
  text-transform: uppercase;
  margin: 20px 0 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: unset;
  -webkit-justify-content: unset;
  flex-direction: row;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_goBackHome__Ytnwi img {
  margin: 0 0 0 10px;
  display: inline-block;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_goBackHome__Ytnwi > span {
  height: 28px;
}

.PageNotFound_pnfContainer__ah9kI
  .PageNotFound_goBackHome__Ytnwi
  > span:before {
  font-size: 16px;
  margin-left: 10px;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_goBackHome__Ytnwi {
    display: block;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinks__Hqxux {
  padding: 30px 30px 0;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinks__Hqxux {
    padding: 30px 0 0;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinks__Hqxux > h3 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinks__Hqxux > h3 {
    width: 100%;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinks__Hqxux > h3:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinks__Hqxux > h3 span {
  font-size: 18px;
  font-weight: 400;
  font-weight: 500;
  line-height: 26px;
  color: #979797;
  padding: 0 20px;
  background: #f9f9f9;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinksList__fNm9e {
  margin: 0 0 20px;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: unset;
  -webkit-justify-content: unset;
  flex-direction: row;
  flex-wrap: wrap;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinksList__fNm9e > li {
  margin: 0 40px 10px 0;
  list-style-position: inside;
}

.PageNotFound_pnfContainer__ah9kI
  .PageNotFound_usefulLinksList__fNm9e
  > li
  > a {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_usefulLinksList__fNm9e > li {
    margin: 0 0 10px;
  }

  .PageNotFound_pnfContainer__ah9kI
    .PageNotFound_usefulLinksList__fNm9e
    > li
    > a {
    font-size: 14px;
    margin-right: 20px;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_gridContainer__dXpx4 {
  padding: 30px 0 0;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 767.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_gridContainer__dXpx4 {
    flex-direction: column;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_gridContainer__dXpx4 > h4 {
  font-size: 20px;
  font-weight: 400;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 991.9px) {
  .PageNotFound_pnfContainer__ah9kI .PageNotFound_footerLinks__19GC3 {
    display: none;
  }
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_ulContent__SeHCN {
  width: 100%;
  padding: 0 0 10px;
}

.PageNotFound_pnfContainer__ah9kI .PageNotFound_ulContent__SeHCN > h4 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 400;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.PageNotFound_icon-arrow-orange__6Ydy2:before {
  content: "î¤";
  color: #fc9916;
}

.ErrorScreen_errorScreenRoot__OxLMi {
  min-height: 300px;
  max-width: 1100px;
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi {
    padding: 0 32px;
  }
}

.ErrorScreen_errorScreenRoot__OxLMi .ErrorScreen_centerDiv__G42EB {
  margin: 0 auto;
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi .ErrorScreen_leftSection__GhSnR {
    order: 2;
  }
}

@media (min-width: 768px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy {
    width: 320px;
  }
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.ErrorScreen_errorScreenRoot__OxLMi
  .ErrorScreen_leftSection__GhSnR
  .ErrorScreen_infoSection__GRCoy
  .ErrorScreen_title__mRiR4 {
  font-weight: 700;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_title__mRiR4 {
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_title__mRiR4 {
    font-size: 32px;
    line-height: 44px;
  }
}

.ErrorScreen_errorScreenRoot__OxLMi
  .ErrorScreen_leftSection__GhSnR
  .ErrorScreen_infoSection__GRCoy
  .ErrorScreen_title__mRiR4
  > span {
  display: block;
}

@media (min-width: 768px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_subTitle__wHAJY {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_subTitle__wHAJY {
    font-size: 14px;
    line-height: 20px;
  }
}

.ErrorScreen_errorScreenRoot__OxLMi
  .ErrorScreen_leftSection__GhSnR
  .ErrorScreen_infoSection__GRCoy
  .ErrorScreen_ctaBtn__Cqyv1 {
  justify-content: center;
}

@media (min-width: 768px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_ctaBtn__Cqyv1 {
    margin-top: 32px;
  }
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_ctaBtn__Cqyv1 {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .ErrorScreen_errorScreenRoot__OxLMi
    .ErrorScreen_leftSection__GhSnR
    .ErrorScreen_infoSection__GRCoy
    .ErrorScreen_ctaBtn__Cqyv1 {
    width: 100%;
  }
}

.ErrorScreen_errorScreenRoot__OxLMi .ErrorScreen_imageBx__DchxZ {
  text-align: center;
  order: 2;
}

.ErrorScreen_errorScreenRoot__OxLMi .ErrorScreen_imageBx__DchxZ > img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 767.9px) {
  .ErrorScreen_errorScreenRoot__OxLMi .ErrorScreen_imageBx__DchxZ {
    order: 1;
    margin-bottom: 40px;
  }

  .ErrorScreen_errorScreenRoot__OxLMi .ErrorScreen_imageBx__DchxZ > img {
    max-width: 240px;
    height: 282px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=aab9944cd365c992.css.map*/
